<a href="https://colab.research.google.com/github/geojiwon/school/blob/main/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 프로그램 1-1. 1부터 n까지 연속한 숫자의 합을 구하는 알고리즘

In [ ]:
def sum_n(n):
  s=0
  for i in range(n+1):
    s += i
  return s

print(sum_n(10))
print(sum_n(100))

55
5050

# 프로그램 1-2. 1부터 n까지 연속한 숫자의 합을 구하는 알고리즘

In [ ]:
def sum_n(n):
  s = (1+n)*n // 2
  return s

print(sum_n(10))
print(sum_n(100))

55
5050

# 연습문제 1-1. 연속한 숫자의 제곱의 합 for문 이용

## O(n)

In [ ]:
def sumsum_n(n):
  ss=0
  for i in range(n+1):
    ss += i**2
  return ss

print(sumsum_n(10))

385

# 연습문제1-3. 연속한 숫자의 제곱의 합 (공식이용)

O(1)

In [ ]:
def sumsum_n(n):
  return n*(n+1)*(2*n+1)//6

print(sumsum_n(10))

385

# 프로그램2-1. 최댓값을 구하는 알고리즘

In [ ]:
def find_max(a):
  max_idx = 0
  n = len(a)
  for i in range(1,n):
    if a[i]>a[max_idx]:
      max_idx=i
  return a[max_idx]

v=[17,92,18,33,58,7,33,42]
print(find_max(v))

92

# 프로그램2-2.최댓값의 위치를 구하는 알고리즘

In [ ]:
def find_max_idx(a):
  n = len(a)
  max_idx=0
  for i in range(1,n):
    if a[i]>a[max_idx]:
      max_idx=i
  return max_idx

v=[17,92,18,33,58,7,33,42]
print(find_max_idx(v))

1

# 연습문제 2-1. 숫자 n개를 리스트 입력받아 최솟값을 구하는 프로그램

In [ ]:
def find_min(a):
  n = len(a)
  min_idx=0
  for i in range(1,n):
    if a[min_idx] > a[i]:
      min_idx=i
  return a[min_idx]

v = list(map(int,(input("리스트를 입력해보세요: ").split())))
print(v)
print(find_min(v))

리스트를 입력해보세요: 2 63 1 2 5 6 2 0
[2, 63, 1, 2, 5, 6, 2, 0]
0

# 프로그램3-1. 동명이인 찾기
O(n^2)

In [ ]:
def find_same_name(a):
  n=len(a)
  result=set()
  for i in range(n-1):
    for j in range(i+1,n):
      if a[i] == a[j]:
        result.add(a[i])
  return result

v= ["니얼굴", "니똥꼬", "니냄새", "니얼굴"]
print(find_same_name(v))

m = ["개똥", "소똥", "니똥", "내똥", "지원", "지원", "지원", "내똥"]
print(find_same_name(m))

{'니얼굴'}
{'지원', '내똥'}

# 연습문제 3-1. 짝 지을 수 있는 모든 조합을 출력

In [ ]:
def make_couple(a):
  n = len(a)
  for i in range(n-1):
    for j in range(i+1,n):
      k = a[i]+"-"+a[j]
      print(k)

v = ["Tom", "Jerry", "Mike","Fake"]
print(make_couple(v))

Tom-Jerry
Tom-Mike
Tom-Fake
Jerry-Mike
Jerry-Fake
Mike-Fake
None

# 프로그램 4-1. 팩토리얼 구하기 (단순 곱셈)
O(n)

In [ ]:
def fact(n):
   s = 1
   for i in range(1, n+1):
      s *= i
   return(s)

print(fact(10))

3628800

# 프로그램 4-2. 팩토리얼을 구하는 알고리즘2. (재귀호출 이용)
O(n)

In [ ]:
def fact(n):
  if n <= 1:
    return 1
  return n*fact(n-1)

print(fact(10))

3628800

# 연습문제 4-1. 1부터 n까지 합구하기 재귀호출 이용

In [ ]:
def sum_n(n):
  if n <= 1:
    return 1
  return n + sum_n(n-1)

print(sum_n(100))

5050

# 연습문제 4-2. 숫자 n개 중에 최댓값 찾기 재귀호출 이용

In [ ]:
def find_max(a):
  n = len(a)
  max_idx=n

  if n <= 0:
    return a[max_idx]

# 문제06 하노이의 탑 옮기기

In [ ]:
def hanoi(n,from_pos,to_pos,aux_pos):
  if n == 1:
    print(from_pos, "->", to_pos)
    return

  hanoi(n-1,from_pos,aux_pos,to_pos)
  print(from_pos, "->", to_pos)
  hanoi(n-1,aux_pos,to_pos,from_pos)

hanoi(1,1,3,2)
hanoi(2,1,3,2)

1 -> 3
1 -> 2
1 -> 3
2 -> 3

# 문제07 순차탐색

### 프로그램7-1
주어진 리스트에서 특정값을 찾아서 해당 위치를 돌려주는 프로그램

In [ ]:
def search_list(a,x):
  n = len(a)
  for i in range(0,n):
    if x == a[i]:
      return i

  return -1

v = [17,92,18,33,58,7,33,42]
print(search_list(v,92))
print(search_list(v,33))
print(search_list(v,600))

# 33은 3과 6으로 두 번 나오는데 앞에꺼 위치만 출력됨!
# 600은 리스트에 없으니까 -1 출력됨

1
3
-1

### 연습으로 해봤습니다.

In [ ]:
def search_list(a,x):
  n = len(a)
  for i in range(0,n):
    if x == a[i]:
      return i

  return -1

v = [1,5,6,1,2,4,6,9]
print(search_list(v,9))

7

# 연습문제7-1 찾는값이 나오는 모든 위치를 리스트로 돌려주기
## 시간복잡도 O(n)

In [ ]:
def search_every(a,x):
  n = len(a)
  indx = []
  for i in range(0,n):
    if x == a[i]:
      indx.append(i)
  return indx

v = [1,5,6,1,2,4,6,9]
print(search_every(v,1))
print(search_every(v,4))
print(search_every(v,0))

[0, 3]
[5]
[]

# 연습문제7-2 학생번호 리스트

In [ ]:
def find_stu_no(a,b,x):  # a는 stu_no, b는 stu_name, x는 변수
  n = len(a)
  for i in range(n):
    if x == a[i]:
      return b[i]

  c = "?"
  return c

stu_no = [39,14,67,105]
stu_name = ["지원", "형준", "우석", "예원"]
print(find_stu_no(stu_no,stu_name,105))

예원

# 프로그램10-1 쉽게 설명한 병합 알고리즘

In [ ]:
def merge_sort(a):
  n = len(a)
  if n <= 1:
    return a

  mid = n // 2
  g1 = merge_sort(a[:mid])
  g2 = merge_sort(a[mid:])

  result = []

  while g1 and g2:
    if g1[0] < g2[0]:
      result.append(g1.pop(0))
    else:
      result.append(g2.pop(0))

  while g1:
    result.append(g1.pop(0))
  while g2:
    result.append(g2.pop(0))
  return result

d= [2,5,4,6,3,1,8,7,9]
print(merge_sort(d))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 프로그램10-2 일반적인 병합정렬 알고리즘

In [ ]:
def merge_sort(a):
  n = len(a)
  if n <= 1:
    return a

  mid = n // 2
  g1 = merge_sort(a[:mid])
  g2 = merge_sort(a[mid:])


  i1=0
  i2=0
  ia=0
  while i1 < len(g1) and i2 < len(g2):
    if g1[i1] < g2[i2]:
      a[ia] = g1[i1]
      ia += 1
      i1 += 1
    else:
      a[ia] = g2[i2]
      ia += 1
      i2 += 1

  while i1 < len(g1):
    a[ia]=g1[i1]
    ia += 1
    i1 += 1

  while i2 < len(g2):
    a[ia] = g2[i2]
    ia += 1
    i2 += 1

  return a

d= [5,3,4,9,8,2,7,6,1]
print(merge_sort(d))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 4번째 과제

In [ ]:
your_coin=int(input("거스름돈 액수를 입력하세요(최소금액은 10원 단위): "))
my_coin=0
a = 0
b=0
c=0
d=0
while your_coin > 0:
	if your_coin >= 500:
		my_coin += 500
		your_coin -= 500
		a += 1
	elif 100 <= your_coin < 500:
		my_coin += 100
		your_coin -= 100
		b += 1
	elif 50 <= your_coin < 100:
		my_coin += 50
		your_coin -= 50
		c += 1
	elif your_coin >= 10:
		my_coin += 10
		your_coin -= 10
		d += 1

print(f"거스름돈은 500원 {a}개, 100원 {b}개, 50원 {c}개, 10원 {d}개입니다.")

거스름돈 액수를 입력하세요(최소금액은 10원 단위): 780
거스름돈은 500원 1개, 100원 2개, 50원 1개, 10원 3개입니다.

# 프로그램 8-1. 쉽게 설명한 선택 정렬 알고리즘

In [ ]:
def find_min_idx(a):
  n= len(a)
  min_idx=0
  for i in range(n):
    if a[i] < a[min_idx]:
      min_idx=i
  return min_idx

def sel_sort(a):
  result=[]
  while a:
    min_idx=find_min_idx(a)
    value=a.pop(min_idx)
    result.append(value)
  return result

d = [2,4,5,1,3]
print(sel_sort(d))

[1, 2, 3, 4, 5]

# 프로그램 8-2. 일반적인 선택 정렬 알고리즘

In [ ]:
def sel_sort(a):
  n=len(a)
  for i in range(n-1):      # 뒤에서 그 앞번호까지만 반복
    min_idx=i
    for j in range(i+1,n):
      if a[j]<a[min_idx]:
        min_idx=j
    a[i],a[min_idx]=a[min_idx],a[i]     # 스왑 해주는 거


d=[2,3,5,4,1]
sel_sort(d)
print(d)

[1, 2, 3, 4, 5]

In [ ]:
a = ["e", "E", "a", "o", "L"]

for eeaol in a:
    if "a" <= eeaol <= "z":
        print("True")
    elif "A" <= eeaol <= "Z":
        print("예")

True
예
True
True
예

# 4번째 과제

In [ ]:
def count_characters(a):

	a = list(map(str,input("문자를 띄어서 입력하세요(영어로): ").split()))
	print(a)

	small_count = 0
	big_count = 0
	nothing_count = 0

	for asdf in a:
		if "a" <= asdf <= "z":
			small_count += 1
		elif "A" <= asdf <= "Z":
			big_count += 1
		else:
			nothing_count += 1
	print("소문자: {}개".format(small_count))
	print("대문자: {}개".format(big_count))
	print("기타문자: {}개".format(nothing_count))

count_characters(a)

문자를 띄어서 입력하세요(영어로): d e p E E F - +
['d', 'e', 'p', 'E', 'E', 'F', '-', '+']
소문자: 3개
대문자: 3개
기타문자: 2개

# 과제 (알파벳,기타문자)

In [ ]:
	a = list(map(str,input("문자를 띄어서 입력하세요(영어로): ").split()))


	small_count = 0
	big_count = 0
	nothing_count = 0

	for asdf in a:
		if "a" <= asdf <= "z":
			small_count += 1
		elif "A" <= asdf <= "Z":
			big_count += 1
		else:
			nothing_count += 1
	print("소문자: {}개".format(small_count))
	print("대문자: {}개".format(big_count))
	print("기타문자: {}개".format(nothing_count))

문자를 띄어서 입력하세요(영어로): d e 5 e d E E
소문자: 4개
대문자: 2개
기타문자: 1개

In [ ]:
print(13//4)
print(13/4)
print(13%4)

3
3.25
1